* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 256px;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px 45px;
  gap: 18px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Counter"
    "count"
    "Buttons";
}

.button-container {
  grid-area: Buttons;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  height: 29px;
  width: -webkit-fill-available;
  padding: 2px;
  margin: 5px;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
}

#value {
  grid-area: count;
  font-size: 100px;
}

#value,
.counter {
  text-align: center;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  grid-area: Counter;
}
